/*
  1-Common Styles
  2-General Style
  3-Sections
    3.0 header section
    3.1 Home_slider Section 
    3.2 features Section 
    3.3 categories section
    3.4 banners Section 
    3.5 deals Section
    3.6 offers Section
    3.7 top_week Section
    3.8 brands Section
    3.9 blog section
    3.10 news section
    3.11 footer style
*/

/* 1-Common Styles */
/*
    -container
    -opacity hover
    -overlay hover
    -section title
    -section padding
    -product style
    -colors
    -bg blue & text whi hover
    -text blue hover
    -owl arrows 
    -menu
*/



/* 2-General Style  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --col-main :#1665C0;
    --col-main-dark :#43a5f5;
    --col-black : #222;
    --col-black-l : #666;
    --col-border: #E5E5E5;
    --col-gray-d : #9E9E9E;
    --col-border-d: #707070;
    --col-bg : #F7F7FA;
}


body{
    font-family: 'Tajawal', sans-serif;
    color: var(--col-black);
    direction: rtl;
    text-align: right;
    font-weight: 500;
}
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
input , button, select{
    outline: 0 !important;
}
a, a:hover{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
button{
    border: 0;
    background: none;
}



/* container style */

@media (min-width: 576px) {
    .container{
        max-width: inherit;
    }
}
@media (min-width: 992px) {
    .container{
        max-width: 960px;
    }
}
@media (min-width: 1024px) {
    .container{
        max-width: 1300px;
    }
}

.container{
    margin: auto;
    width: calc(100% - 30px);
}

.padd{
    padding: 80px 0;
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .7;
    z-index: -1;
}

.shadow{
    box-shadow: 0 3px 10px #484848a6 !important;
}
.white_hover{
    background-color: var(--col-main);
    border: 1px solid var(--col-main);
    color: #fff;
    font-size: 15px;
    text-align: center;
    min-width: 160px;
    min-height: 48px;
    display: inline-block;
    line-height: 48px;
    transition: .3s ease-in-out ;
    -webkit-transition: .3s ease-in-out ;
    -moz-transition: .3s ease-in-out ;
    -ms-transition: .3s ease-in-out ;
    -o-transition: .3s ease-in-out ;
}
.white_hover:hover{
    background-color: unset;
    color: var(--col-black);
    /* font-weight: 600; */
}
.opacity_hover:hover{
    opacity: .8;
}
.section_title{
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}
.section_title h2{
    position: relative;
    font-size: 32px;
    position: relative;
    font-weight: 500;
}
  .section_title::after, .section_title h2::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    transform: translateX(-50%);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  .section_title::after{
    background-color: var(--col-black);
    width: 180px;
    height: 3px;
    z-index: 2;
  }
  .section_title h2::after{
    background-color: var(--col-main);
    width: 80px;
    bottom: -10.7px;
    height: 5px;
    z-index: 3;
  }


  @media (max-width: 768px){
    .section_title h2{
      font-size: 24px !important;
    }
    .padd{
        padding: 40px 0;
    }
    .section_title h2::after{
      width: 48px;
    }
    .section_title::after{
      width: 128px;
    }
  }








/* 3.1 breadCrumb section */

.breadCrumb{
    padding: 50px 0 ;
    margin-top: 60px;
}
.breadCrumb .breadCrumbItems{
    display: flex;
    font-size: 18px;
}
.breadCrumb .breadCrumbItems li:not(:last-of-type){
    margin-left: 40px;
    position: relative;
}
.breadCrumb .breadCrumbItems li a{
    transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
}
.breadCrumb .breadCrumbItems li a:hover{
    color: var(--col-main);
}
.breadCrumb .breadCrumbItems li:last-of-type{
    color: var(--col-gray-d) !important;
}
.breadCrumb .breadCrumbItems li:last-of-type:after{
    content: '';
}
.breadCrumb .breadCrumbItems li:after{
    content: "\f104";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: -23px;
    top: 1px;
    color: var(--col-gray-d) ;
}
@media (max-width:992px) {
    .banner_content .banner_title{
        font-size: 34px;
    }
}
@media (max-width:576px) {
    .banner_content{
        width: 85%;
    }
    .breadCrumb .breadCrumbItems{
        font-size: 13px;
    }
    .breadCrumb .breadCrumbItems li:not(:last-of-type){
        margin-left:20px;
    }
    .breadCrumb .breadCrumbItems li:after{
        left: -14px;
    }
}


/* 3.2 Missing Section */
.missing{
    padding-bottom: 50px;
}
.filters{
    margin-bottom: 30px;
}
.filters .active_filters{
    display: none;
}

.filters .filters_title h2{
    font-size: 24px;
    padding: 18px 20px;
    background-color: var(--col-main);
    color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.filters .search_form{
    margin-bottom: 20px;
}
.filters .search_form input{
    font-size: 14px;
    border: 1px solid var(--col-border);
    padding: 8px 8px 8px 40px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: 100%;
}
.filters .search_form button{
    padding: 8px 15px;
    min-width: 40px;
    text-align: center;
    color: var(--col-gray-d);
    position: absolute;
    top: 0px;
    left: 15px;
}

.filters .filters_item_title{
    font-size: 18px;
}
/* .filters .filters_form_contet{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
} */
.filters_item.multi .filters_item_content{
    max-height: 250px;
    overflow-y: auto;
}
.filters_item_content::-webkit-scrollbar, 
.filters .nice-select .list::-webkit-scrollbar {
    width: 4px;
}
/* Track */
.filters_item_content::-webkit-scrollbar-track, 
.filters .nice-select .list::-webkit-scrollbar-track {
    background: #e5e5e5; 
    display: none;
}
/* Handle */
.filters_item_content::-webkit-scrollbar-thumb, 
.filters .nice-select .list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background: var(--col-border-d); 
    display: none;
}

/* Handle on hover */
.filters_item_content:hover::-webkit-scrollbar-thumb,
.filters_item_content:hover::-webkit-scrollbar-track,
.filters .nice-select .list:hover::-webkit-scrollbar-thumb,
.filters .nice-select .list::-webkit-scrollbar-track {
    display: block;
    
}
.filters .filters_item_content .filter_name{
    cursor: pointer;
    padding: 15px 10px;
    border-bottom: 1px solid var(--col-border);
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}
.filters_item .filters_item_content .filter_name:first-of-type {
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
}
.filters_item .filters_item_content .filter_name:last-of-type {
    border-radius:  0 0 8px 8px;
    -webkit-border-radius:  0 0 8px 8px;
    -moz-border-radius:  0 0 8px 8px;
    -ms-border-radius:  0 0 8px 8px;
    -o-border-radius:  0 0 8px 8px;
}
.filters .filters_item_content .filter_name:hover,
.filters .filters_item_content .filter_name.active{
    background-color: #fff;
    color: var(--col-main);
}
.filters .filters_item_content .filter_name{
    display: block;
    margin-bottom: 0;
    position: relative;
}
.filters .filters_item_content input[type="radio"],
.filters .filters_item_content input[type="checkbox"]{
    opacity: 0 !important;
}

.filters .accordion-content{
    user-select: none;
    border-bottom: 1px solid var(--col-border);
    padding-bottom: 30px;
}
.filters .accordion-content:last-of-type{
    border: 0;
}
.filters .accordion-content .accordion-content-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    cursor: pointer;
}
.filters .accordion-content .accordion-content-title i{
    font-size: 16px;
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
}
.filters .accordion-content .accordion-content-title.active i{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.filters .accordion-content .accordion-content-desc{
    margin-top: 20px;
    display: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.filters .multi.accordion-content .accordion-content-desc,
.filters .filters_item.range_filter .accordion-content-desc{
    border: 1px solid var(--col-border);
    background-color: var(--col-bg);
}
.filters .accordion-content .accordion-content-desc.date{
    background: transparent;
}
.filters .accordion-content .accordion-content-desc.active{
    display: none;
}
.filters .filters_item.range_filter .range_filter{
    padding: 20px;
}
.filters .filters_item.range_filter .range_filter .range_filter_content{
    font-size: 14px;
    color: var(--col-gray-d);
    text-align: center;
}
.filters .filters_item.range_filter .range_filter input[type="text"]{
    margin-top: 15px;
    box-shadow: none;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    width: 50px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}




.filters .nice-select, .filters input[type="date"]{
    border-radius: 8px;
    min-height: 42px;
    cursor: pointer;
    border: solid 1px var(--col-border);
    float: unset;
    padding-left: 18px;
    padding-right: 10px;
    position: relative;
    text-align: right !important;
    width: 100%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.filters .nice-select:after {
    right: unset; 
    left: 12px;
}
.filters .nice-select .list {
    width: 100%;
    text-align: right !important;
    max-height: 250px;
    overflow-y: auto;
}
.filters .nice-select .option {
    padding-left: 18px;
    padding-right: 15px;
    text-align: right;
}
.filters .filter_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.filters .filter_btn button{
    margin-top: 15px;
    min-width: unset;
    min-height: unset;
    line-height: 36px;
    font-size: 14px;
    padding: 0 14px;
    background-color: var(--col-main) !important;
    color: #fff !important;
}
.filters .filter_btn button:last-of-type{
    background-color: var(--col-black) !important;
}
@media (max-width: 576px) {
    .filters .filters_item_title {
        font-size: 16px;
    }
    .filters .accordion-content .accordion-content-title i {
        font-size: 14px;
    }
}








/* Posts items */

.item{
    border: 1px solid var(--col-border);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    direction: rtl;
    margin-bottom: 20px;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}
.item:hover{
    box-shadow: 0 1px 5px #484848a6 !important; ;
}
.item .missing_img{
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    width: 100%;
    height: 220px;
}
.item .missing_details{
    padding: 15px 20px;
}
.item p{
    margin-bottom: 10px;
}

.missing_name{
    max-width: 255px;
}
.item .subtitle{
    color: var(--col-gray-d);
}

.item .add_by_details{
    padding-right: 60px;
    margin: 15px 0;
    position: relative;
}
.item .add_by_details .add_by_img{
    width: 48px;
    position: absolute;
    right: 0;
}
.item .add_by_details .add_by_name{
    margin-bottom: 0px;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}
.item .add_by_details .add_by_name:hover{
    color: var(--col-main);
}
.item .add_by_details .add_by_date{
    font-size: 14px;
    color: var(--col-gray-d);
}
.item .missing_desc{
    color: var(--col-black-l);
    max-height: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item .missing_page{
    color: var(--col-main);
}
.item .missing_page:hover{
    text-decoration: underline;
    font-weight: 600;
}



















/* Contact Section */

.contact{
    background: url(../images/home/system-3699542_1920.jpg) no-repeat center/cover;
    background-position: center;
    position: relative;
    color: #E2E2E2;
}
.contact .overlay{
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 1;
    background: #2929292e;
    backdrop-filter: saturate(170%) blur(6px);
    z-index: 0;
    height: 101%;
}
.contact_title{
    font-size: 24px;
    margin-bottom: 10px;
}
.contact_desc{
    font-size: 15px;
}
.contact_link{
    background-color: #fff;
    padding: 10px 25px;
    color: #222;
    border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    -webkit-border-radius:8px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
.contact_link:hover{
    color: #fff;
    padding: 10px 25px;
    background-color: #222;
}
.contact_content .left{
    text-align: left;
}
@media (max-width:600px) {
    .contact_content .left{
        text-align: center;
        margin-top: 25px;
    }
    .contact_content{
        text-align: center;
    }
}







/* Footer section */
footer{
    background-color: #212121;
    background-image: url(../images/home/dots\ background.svg);
    background-position: center;
}
footer .footer_logo img{
    max-width: 100%;
}
footer .footer_content{
    padding: 15px 0px;
}
footer .footer_title{
    color: #E2E2E2;
    font-size: 18px;
    margin-bottom: 15px;
}
footer .footer_item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}
@media (max-width:1150px) {
    footer .footer_item{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:992px) {
    footer .footer_item{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:768px) {
    .footer_logo{
        text-align: center;
    }
}
@media (max-width:576px) {
    footer .footer_item{
        grid-template-columns: repeat(1, 1fr);
    }
}
footer .footer_list, footer .footer_list button{
    color: #A6A6A6;
}
footer .footer_list li{
    position: relative;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
footer .footer_list li::before{
    position: absolute;
    content: '';
    opacity: 0;
    right: 0;
    top: 50%;
    width: 10px;
    height: 2px;
    background-color: var(--col-main-dark);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
footer .footer_list li a, footer .footer_list li a button{
    display: inline-block;
    margin: 2px 0;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
footer .footer_list li:hover::before{
    opacity: 1;
}
footer .footer_list li:hover a{
    color: var(--col-main-dark);
    margin-right: 16px;
}

footer .copy{
    border-top: 1px solid #464646;
    padding: 15px 0;
    text-align: center;
    color: #E2E2E2;
}