/*
  1-Common Styles
  2-General Style
  3-Sections
    3.0 header section
    3.1 Home_slider Section 
    3.2 features Section 
    3.3 categories section
    3.4 banners Section 
    3.5 deals Section
    3.6 offers Section
    3.7 top_week Section
    3.8 brands Section
    3.9 blog section
    3.10 news section
    3.11 footer style
*/

/* 1-Common Styles */
/*
    -container
    -opacity hover
    -overlay hover
    -section title
    -section padding
    -product style
    -colors
    -bg blue & text whi hover
    -text blue hover
    -owl arrows 
    -menu
*/



/* 2-General Style  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --col-main :#1665C0;
    --col-main-dark :#43a5f5;
    --col-black : #222;
    --col-black-l : #666;
    --col-border: #E5E5E5;
    --col-gray-d : #9E9E9E;
    --col-border-d: #707070;
    --col-bg : #F7F7FA;
}


body{
    font-family: 'Tajawal', sans-serif;
    color: var(--col-black);
    direction: rtl;
    text-align: right;
    font-weight: 500;
}
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
input , button, select{
    outline: 0 !important;
}
a, a:hover{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
button{
    border: 0;
    background: none;
}



/* container style */

@media (min-width: 576px) {
    .container{
        max-width: inherit;
    }
}
@media (min-width: 992px) {
    .container{
        max-width: 960px;
    }
}
@media (min-width: 1024px) {
    .container{
        max-width: 1300px;
    }
}

.container{
    margin: auto;
    width: calc(100% - 30px);
}
.padd{
    padding: 80px 0;
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .7;
    z-index: -1;
}

.shadow{
    box-shadow: 0 3px 10px #484848a6 !important;
}
.white_hover{
    background-color: var(--col-main);
    border: 1px solid var(--col-main);
    color: #fff;
    font-size: 15px;
    text-align: center;
    min-width: 160px;
    min-height: 48px;
    display: inline-block;
    line-height: 48px;
    transition: .3s ease-in-out ;
    -webkit-transition: .3s ease-in-out ;
    -moz-transition: .3s ease-in-out ;
    -ms-transition: .3s ease-in-out ;
    -o-transition: .3s ease-in-out ;
}
.white_hover:hover{
    background-color: unset;
    color: var(--col-black);
    /* font-weight: 600; */
}
.opacity_hover:hover{
    opacity: .8;
}
.owl-carousel {
    direction: ltr;
}
.section_title{
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}
.section_title h2{
    position: relative;
    font-size: 32px;
    position: relative;
    font-weight: 500;
}
  .section_title::after, .section_title h2::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    transform: translateX(-50%);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  .section_title::after{
    background-color: var(--col-black);
    width: 180px;
    height: 3px;
    z-index: 2;
  }
  .section_title h2::after{
    background-color: var(--col-main);
    width: 80px;
    bottom: -10.8px;
    height: 5px;
    z-index: 3;
  }
  @media (max-width: 768px){
    .section_title h2{
      font-size: 24px !important;
    }
    .padd{
        padding: 40px 0;
    }
    .section_title h2::after{
      width: 48px;
    }
    .section_title::after{
      width: 128px;
    }
  }








/* 3.1 breadCrumb section */

.breadCrumb{
    padding: 30px 0 ;
    margin-top: 80px;
}
.breadCrumb .breadCrumbItems{
    display: flex;
    font-size: 18px;
}
.breadCrumb .breadCrumbItems li:not(:last-of-type){
    margin-left: 40px;
    position: relative;
}
.breadCrumb .breadCrumbItems li a{
    transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
}
.breadCrumb .breadCrumbItems li a:hover{
    color: var(--col-main);
}
.breadCrumb .breadCrumbItems li:last-of-type{
    color: var(--col-gray-d) !important;
}
.breadCrumb .breadCrumbItems li:last-of-type:after{
    content: '';
}
.breadCrumb .breadCrumbItems li:after{
    content: "\f104";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: -23px;
    top: 1px;
    color: var(--col-gray-d) ;
}

@media (max-width:576px) {
    .breadCrumb{
        padding: 30px 0;
    }
    .breadCrumb .breadCrumbItems{
        font-size: 13px;
    }
    .breadCrumb .breadCrumbItems li:not(:last-of-type){
        margin-left:20px;
    }
    .breadCrumb .breadCrumbItems li:after{
        left: -14px;
    }
}





/* 3.2 missingDetails Section */

.missingDetails{
    padding-bottom: 50px;
}

.missingDetails .missingDetails_content, .comments{
    border: 1px solid var(--col-border);
    padding: 20px 0;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-top: 20px !important;
}
.missingDetails .reporter_details{
    padding: 0 20px;
    position: relative;
}
.reporter_name:hover{
    color: var(--col-main);
}
.reporter_details .share{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
}
.reporter_details #link{
    user-select: none;
}
.reporter_details .share:hover{
    color: var(--col-main);
}
#copy_btn{
    outline: 0;
    box-shadow: none;
}
.missingDetails .subtitle{
    color: var(--col-gray-d);
    font-size: 15px;
}
.missingDetails .info_content{
    margin-bottom: 10px;
    font-size: 17px;
}
.missing_info .missing_desc{
    line-height: 1.7;
    padding: 0 20px 0 60px;
    margin-bottom: 20px;
}
.missing_info .missing_img{
    text-align: center;
    padding: 40px 0;
    border-bottom: 1px solid var(--col-border);
}
.missing_info .missing_img img{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    max-width: 600px;
    width: 94%;
}
.missing_info .details_group{
    margin-top: 20px;
    padding: 0 20px;
}
.missing_info .details_group .group_title{
    font-size: 20px;
    color: var(--col-main);
    margin-bottom: 15px;
}

.comments{
    padding: 0;
    max-width: 750px;
    margin: auto;
}
.comments .comments_title{
    padding: 15px 10px;
    font-size: 24px;
    border-bottom: 1px solid var(--col-border);
}
.comments .comments_content{
    padding: 0px 10px;
    max-height: 500px;
    overflow-y: auto;
}
.comments .comment_item{
    margin-top: 15px;
}
.comments .comment_item .comment_content{
    padding-right: 15px;
}
.comments .info_content{
    font-size: 16px;
    display: block;
    margin-bottom: 7px;
}

.comments .reporter_details{
    background-color: var(--col-bg);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 15px;
}
.comments .comment_info{
    display: flex;
    justify-content: flex-end;
    padding: 2px 10px;
}
.comments .comment_info .comment_date{
    color: var(--col-gray-d);
    margin-left: 20px;
    font-size: 14px;
    text-align: left;
}
.comments .comment_info .addReplyBtn{
    cursor: pointer;
    font-size: 15px;
    user-select: none;
}
.comments .comment_info .addReplyBtn:hover,
.comments .info_content:hover{
    color: var(--col-main);
}
.comment_replys{
    display: none;
}
.comment_replys .replys_content{
    padding: 10px 40px 10px 0;
}
.comment_replys .addRplyForm,
.comments .addCommentForm{
    padding-right: 40px;
    position: relative;
    margin-bottom: 15px;
}
.comments .addCommentForm{
    padding: 15px 10px 0 10px;
    border-top: 1px solid var(--col-border);
}
.comment_replys .addRplyForm button,
.comments .addCommentForm button{
    position: absolute;
    left: 0;
    padding: 7px 15px;
    border-right: 1px solid var(--col-border);
    font-size: 15px;
    border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -ms-border-radius: 8px 0 0 8px;
    -o-border-radius: 8px 0 0 8px;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}
.comments .addCommentForm button{
    left: 10px;
}
.comments .addCommentForm button:hover,
.comment_replys .addRplyForm button:hover{
    background-color: var(--col-main);
    color: #fff;
}
.form_input{
    font-size: 14px;
    border: 1px solid var(--col-border);
    padding: 7px 15px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: 100%;
    background-color: var(--col-bg);
}


.comments_content::-webkit-scrollbar {
    width: 3px;
}
/* Track */
.comments_content::-webkit-scrollbar-track {
    display: none;
    background: #e5e5e5; 
}
/* Handle */
.comments_content::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background: var(--col-border-d); 
    display: none;
}

/* Handle on hover */
.comments_content:hover::-webkit-scrollbar-track,
.comments_content:hover::-webkit-scrollbar-thumb{
    display: block;
}











.card-body{
padding: auto;
margin: 5px 5px;
}
.reporter-name{
    font-size: 1.1em; 
}
.reporter-name:hover{
    cursor: pointer;
}

.reporter-name span {
color:var(--col-gray-d) ;

}
.date{
margin-top: 5px;
margin-right: 10px;
    color:var(--col-gray-d) ;
    font-size: 0.9em; 
    margin-bottom: 10px;
}
.card-text{
    color: var(--col-black);
    font-size: 1.2em;
    text-align: right;
}
.card-img-top{
    width: 80%;
    margin-right: 50px;
    box-sizing: border-box;
    border-radius: 3%;
    box-shadow: 5px 5px 5px #666,
     -5px -5px 5px #666;

     margin-bottom: 20px;
}
.main-info{
    margin-right: 40px;
}
.rr h4{
    font-size: 1.2em;
    color: var(--col-main);
    margin-bottom: 8px;
}
.rr{
    margin-bottom: 20px;
}
.rr p{
font-size: 1.1em;
}
.rr span{
    color: var(--col-black-l);
}


.radius-10{
    margin-right: 50px;
}

.waves-light{
    margin-right: 310px;;
    margin-bottom: 10px;
}
.user-page-info{
    background-color: var(--col-border);
    border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   border-top-left-radius: 20px;
   border-bottom-right-radius: 20px;
   box-shadow: 3px 3px 3px rgb(228, 219, 219),
   -3px -3px 3px rgb(228, 219, 219);
     padding: 2px 10px;
}
.mb-0{
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 5px;
}
.dt-rp{
    margin-right: 300px;
    margin-top: 1px;
    word-spacing: 10px;
}

.hide ,.mb-2{
    display: none;
}
.replying{
    margin-right: 30px;
    background-color: var(--col-border);
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   border-top-left-radius: 20px;
   border-bottom-right-radius: 20px;
    box-shadow: 3px 3px 3px rgb(228, 219, 219),
     -3px -3px 3px rgb(228, 219, 219);
     padding: 2px 10px;
     width: 65%;
}













  

/* Contact Section */

.contact{
    background: url(../images/home/system-3699542_1920.jpg) no-repeat center/cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    color: #E2E2E2;
}
.contact .overlay{
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 1;
    background: #2929292e;
    backdrop-filter: saturate(170%) blur(6px);
    z-index: 0;
    height: 101%;
}
.contact_title{
    font-size: 24px;
    margin-bottom: 10px;
}
.contact_desc{
    font-size: 15px;
}
.contact_link{
    background-color: #fff;
    padding: 10px 25px;
    color: #222;
    border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    -webkit-border-radius:8px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
.contact_link:hover{
    color: #fff;
    padding: 10px 25px;
    background-color: #222;
}
.contact_content .left{
    text-align: left;
}
@media (max-width:600px) {
    .contact_content .left{
        text-align: center;
        margin-top: 25px;
    }
    .contact_content{
        text-align: center;
    }
}







/* Footer section */
footer{
    background-color: #212121;
    background-image: url(../images/home/dots\ background.svg);
    background-position: center;
}
footer .footer_logo img{
    max-width: 100%;
}
footer .footer_content{
    padding: 15px 0px;
}
footer .footer_title{
    color: #E2E2E2;
    font-size: 18px;
    margin-bottom: 15px;
}
footer .footer_item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}
@media (max-width:1150px) {
    footer .footer_item{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:992px) {
    footer .footer_item{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:768px) {
    .footer_logo{
        text-align: center;
    }
}
@media (max-width:576px) {
    footer .footer_item{
        grid-template-columns: repeat(1, 1fr);
    }
}
footer .footer_list, footer .footer_list button{
    color: #A6A6A6;
}
footer .footer_list li{
    position: relative;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
footer .footer_list li::before{
    position: absolute;
    content: '';
    opacity: 0;
    right: 0;
    top: 50%;
    width: 10px;
    height: 2px;
    background-color: var(--col-main-dark);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
footer .footer_list li a, footer .footer_list li a button{
    display: inline-block;
    margin: 2px 0;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
footer .footer_list li:hover::before{
    opacity: 1;
}
footer .footer_list li:hover a{
    color: var(--col-main-dark);
    margin-right: 16px;
}

footer .copy{
    border-top: 1px solid #464646;
    padding: 15px 0;
    text-align: center;
    color: #E2E2E2;
}